# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Rider
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local settings
*.local.json
